PDirect.py PGet.py POpen.py PPriv.py PPub.py cabecalho fai2ban ferramentas ferramentascodes idioma_geral limiter.sh limitera limiterb menu menu_credito menu_inst optimizador payloads paysnd.sh ssl trans ultrahost user usercodes v-local.log verifica
